<!DOCTYPE HTML>
<html>

<head>
    <title>Felix Development and Consulting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
</head>

<body>
    <header class="fd-header">
        <nav>
            <ul class="fd-menu-list">
                {% for item in items %}
                <li class="fd-menu-item"><a class="{{'fd-active-menu-item' if active_link == item}}" href="/{{item}}">{{ item }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <div class="fd-content-wrapper">
        <div class="fd-content">
            <p class="fd-disclaimer">Disclaimer: around November and December my products will become available. Stay tuned!</p>
            <h1>{{ caption }}</h1>
            {{ content }}
        </div>
    </div>
    <footer class="fd-footer">Felix Development and Consulting - Contact: Felix Lüpke &lt;lpke.flx@gmail.com&gt;<br>
        <ul>
            {% for footer_item in footer_items %}
            <li class="fd-footer-link"><a href="/footer-links/{{footer_item}}">{{footer_item}}</a></li>
            {% endfor %}
        </ul>
    </footer>
</body>

</html>