<!doctype HTML>
<html>

<head>
    <title>Felix Development, Consulting and Services</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header class="fd-header">
        <nav>
            <ul class="fd-menu-list">
                <li class="fd-menu-item"><a class="{{'fd-active-menu-item' if active_link == 'home'}}" href="/">Home</a>
                </li>
                <li class="fd-menu-item"><a class="{{'fd-active-menu-item' if active_link == 'courses'}}"
                        href="/courses">Courses</a></li>
                <li class="fd-menu-item"><a class="{{'fd-active-menu-item' if active_link == 'products'}}"
                        href="/products">Products</a></li>
            </ul>
        </nav>
    </header>
    <div class="fd-content-wrapper">
        <div class="fd-content">
            <h1>{{ home_caption }}</h1>
            {{ home_content }}
        </div>
    </div>
    <footer class="fd-footer">Felix Development and Consulting - Contact: Felix Lüpke &lt;lpke.flx@gmail.com&gt;
    </footer>
</body>

</html>